/.bash_history
/.gem/
/.gimp-2.8/
/.ido.last
/.kkcrc
/.skk-jisyo
/.skk-jisyo.BAK
/.skk-record
/.smex-items
/.ssh/
/.thumbnails/
/workspace/
/super_gee_pod/
/skkfep/
/Thumbs.db
/.emacs.d/ac-comphist.dat
/.emacs.d/auto-save-list
/.emacs.d/backups
/.emacs.d/elpa
/.emacs.d/eshell
/.emacs.d/server
/.emacs.d/places
/.emacs.d/tramp
/.gitconfig
/.lein/bin
